<div class="row">
  <div class="col-sm-12">
    <div class="well">
      <div class="post">
        <div class="post__meta">
          <a href="/+{{ post.author.username }}">
            +{{ post.author.username }}
          </a>
        </div>
        <div class="post__title">
          {{ post.title }}
        </div>

        <div class="post__image">
          <img src="{{ post.image }}" height="200" width="250">
        </div>
        <br />
        <div class="post__annotation" id="annot">
          {{ post.annotation }}
        </div>
      </div>
    </div>
  </div>
</div>
