.navbar-default {
    background-color: #78909C;
    border-color: #607D8B;
}

.no-posts-here {
  text-align: center;
}

.post {}

.post .post__meta {
  font-weight: bold;
  text-align: right;
  padding-bottom: 19px;
}

.post .post__meta a:hover {
  text-decoration: none;
}

.btn-add-new-post {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #78909C !important;
}
